services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow_server
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
    command: >
      mlflow server
      --backend-store-uri postgresql://${DB_USERNAME}:${DB_PASSWORD}@pg:5432/${DB_DATABASE}
      --default-artifact-root s3://mlflow-bucket/
      --host 0.0.0.0
      --port 5000
    networks:
      - localnet
    depends_on:
      - pg
      - minio

  pg:
    image: postgres:18-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
      PGDATA: /data/postgres
    volumes:
      - pg_data:/data/postgres
    ports:
      - "${DB_PORT}:5432"
    networks:
      - localnet
    restart: unless-stopped
    # Check DB health
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  minio:
    image: minio/minio
    container_name: mlflow-minio
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - localnet

networks:
  localnet:
    driver: bridge

volumes:
  minio_data:
    driver: local
  pg_data:
    driver: local